<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>混雑度チェッカー</title><!--titleはタブの名前(Webページのタイトル)-->
    <!-- cssの読み込み -->
    <link rel="stylesheet" href="static/css/style.css" media="screen">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css">
</head>
<body>
    <div id="j-title">
        <h1>J号館１階食堂</h1>
    </div>
    <div>
        {% if counted %}
            {% if counted > 0 %}
                <img src="{{ url_for('static', filename = 'images/empty.png') }}">
            {% elif counted > 60 %}
                <img src="{{ url_for('static', filename = 'images/little_empty.png') }}">
            {% elif counted > 80 %}
                <img src="{{ url_for('static', filename = 'images/crowded.png') }}">
            {% else %}
                <h2>Sorry...Not Found🤪</h2>
		    {% endif %}
        {% endif %}
    </div>
    <div>
        <form method="post">
            <h2 class="text-muted">推定人数:{{counted}}</h2>
        </form>
    </div>
    <div>
        <details>
            <summary><i class="fas fa-map-marked-alt"></i> マップ</summary>
            <div>
                <img src="{{ url_for('static', filename = 'images/empty.png') }}">
            </div>
        </details> 
    </div>
    
    <!--Z号館側-->
    <div id="z-title">
        <h1>Z号館２階食堂</h1>
    </div>
    <div>
        {% if counted %}
            {% if counted > 0 %}
                <img src="{{ url_for('static', filename = 'images/empty.png') }}">
            {% elif counted > 60 %}
                <img src="{{ url_for('static', filename = 'images/little_empty.png') }}">
            {% elif counted > 80 %}
                <img src="{{ url_for('static', filename = 'images/crowded.png') }}">
            {% else %}
                <h2>Sorry...Not Found🤪</h2>
		    {% endif %}
        {% endif %}
    </div>
    <div>
        <form method="post">
            <h2 class="text-muted">推定人数:{{count2}}</h2>
        </form>
    </div>
    <div>
        <details>
            <summary><i class="fas fa-map-marked-alt"></i> マップ</summary>
            <div>
                <img src="{{ url_for('static', filename = 'images/empty.png') }}">
            </div>
        </details>
    </div>
</body>
</html>